@prefix-cls: zdy;

.@{prefix-cls}-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;

  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

.@{prefix-cls}-row-justify-start {
  justify-content: flex-start;
}

.@{prefix-cls}-row-justify-end {
  justify-content: flex-end;
}

.@{prefix-cls}-row-justify-center {
  justify-content: center;
}

.@{prefix-cls}-row-justify-space-around {
  justify-content: space-around;
}

.@{prefix-cls}-row-justify-space-between {
  justify-content: space-between;
}

.@{prefix-cls}-row-align-top {
  align-items: flex-start;
}

.@{prefix-cls}-row-align-middle {
  align-items: center;
}

.@{prefix-cls}-row-align-bottom {
  align-items: flex-end;
}

.@{prefix-cls}-col {
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;

  &::before,
  &::after {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }
}

.@{prefix-cls}-row > .@{prefix-cls}-col {
  padding-left: 8px;
  padding-right: 8px;
}

.@{prefix-cls}-row[data-gutter] > .@{prefix-cls}-col {
  padding-left: 0;
  padding-right: 0;

  > * {
    margin-left: calc(~'var(--gutter, 0px)' / 2);
    margin-right: calc(~'var(--gutter, 0px)' / 2);
  }
}

.generate-col(@index) when (@index <= 24) {
  .@{prefix-cls}-col-@{index} {
    flex: 0 0 calc(@index / 24 * 100%);
    max-width: calc(@index / 24 * 100%);
  }

  .@{prefix-cls}-col-offset-@{index} {
    margin-left: calc(@index / 24 * 100%);
  }

  .@{prefix-cls}-col-push-@{index} {
    position: relative;
    left: calc(@index / 24 * 100%);
  }

  .@{prefix-cls}-col-pull-@{index} {
    position: relative;
    right: calc(@index / 24 * 100%);
  }

  .generate-col(@index + 1);
}

.generate-col(1);

.generate-responsive-col(@breakpoint, @index) when (@index <= 24) {
  @media screen and (min-width: @breakpoint) {
    .@{prefix-cls}-col-sm-@{index} {
      flex: 0 0 calc(@index / 24 * 100%);
      max-width: calc(@index / 24 * 100%);
    }

    .@{prefix-cls}-col-sm-offset-@{index} {
      margin-left: calc(@index / 24 * 100%);
    }

    .@{prefix-cls}-col-md-@{index} {
      flex: 0 0 calc(@index / 24 * 100%);
      max-width: calc(@index / 24 * 100%);
    }

    .@{prefix-cls}-col-md-offset-@{index} {
      margin-left: calc(@index / 24 * 100%);
    }

    .@{prefix-cls}-col-lg-@{index} {
      flex: 0 0 calc(@index / 24 * 100%);
      max-width: calc(@index / 24 * 100%);
    }

    .@{prefix-cls}-col-lg-offset-@{index} {
      margin-left: calc(@index / 24 * 100%);
    }

    .@{prefix-cls}-col-xl-@{index} {
      flex: 0 0 calc(@index / 24 * 100%);
      max-width: calc(@index / 24 * 100%);
    }

    .@{prefix-cls}-col-xl-offset-@{index} {
      margin-left: calc(@index / 24 * 100%);
    }
  }

  .generate-responsive-col(@breakpoint, @index + 1);
}

.generate-responsive-col(576px, 1);

@media screen and (max-width: 575px) {
  .@{prefix-cls}-col-xs {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .generate-xs-col(@index) when (@index <= 24) {
    .@{prefix-cls}-col-xs-@{index} {
      flex: 0 0 calc(@index / 24 * 100%);
      max-width: calc(@index / 24 * 100%);
    }

    .@{prefix-cls}-col-xs-offset-@{index} {
      margin-left: calc(@index / 24 * 100%);
    }

    .generate-xs-col(@index + 1);
  }

  .generate-xs-col(1);
}

@media screen and (min-width: 576px) {
  .generate-sm-col(@index) when (@index <= 24) {
    .@{prefix-cls}-col-sm-@{index} {
      flex: 0 0 calc(@index / 24 * 100%);
      max-width: calc(@index / 24 * 100%);
    }

    .@{prefix-cls}-col-sm-offset-@{index} {
      margin-left: calc(@index / 24 * 100%);
    }

    .generate-sm-col(@index + 1);
  }

  .generate-sm-col(1);
}

@media screen and (min-width: 768px) {
  .generate-md-col(@index) when (@index <= 24) {
    .@{prefix-cls}-col-md-@{index} {
      flex: 0 0 calc(@index / 24 * 100%);
      max-width: calc(@index / 24 * 100%);
    }

    .@{prefix-cls}-col-md-offset-@{index} {
      margin-left: calc(@index / 24 * 100%);
    }

    .generate-md-col(@index + 1);
  }

  .generate-md-col(1);
}

@media screen and (min-width: 992px) {
  .generate-lg-col(@index) when (@index <= 24) {
    .@{prefix-cls}-col-lg-@{index} {
      flex: 0 0 calc(@index / 24 * 100%);
      max-width: calc(@index / 24 * 100%);
    }

    .@{prefix-cls}-col-lg-offset-@{index} {
      margin-left: calc(@index / 24 * 100%);
    }

    .generate-lg-col(@index + 1);
  }

  .generate-lg-col(1);
}

@media screen and (min-width: 1200px) {
  .generate-xl-col(@index) when (@index <= 24) {
    .@{prefix-cls}-col-xl-@{index} {
      flex: 0 0 calc(@index / 24 * 100%);
      max-width: calc(@index / 24 * 100%);
    }

    .@{prefix-cls}-col-xl-offset-@{index} {
      margin-left: calc(@index / 24 * 100%);
    }

    .generate-xl-col(@index + 1);
  }

  .generate-xl-col(1);
}
